
/*estilos generales*/
* {
  margin: 2px;
  padding: 2px;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    83deg,
    rgba(0, 0, 0, 1) 69%,
    rgba(61, 1, 1, 1) 98%
  );
  font-family: "Courier Prime", monospace;
}
h1 {
  text-align: center;
  letter-spacing: 4px;
  color: rgb(255, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
  font-size: 4rem;
}
.segundoTitulo {
  color: rgb(255, 0, 0);
  letter-spacing: 3px;
  margin-bottom: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    83deg,
    rgba(0, 0, 0, 1) 69%,
    rgba(61, 1, 1, 1) 98%
  );
}
header img {
  width: 200px;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li a {
  line-height: 1.5;
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
}
nav ul {
  margin: 16px;
}

nav ul li a {
  color: rgb(240, 4, 4);
}
/*index*/
.banner__container {
  display: flex;
}
.botonColor a {
  text-decoration: none;
  color: rgb(158, 158, 190);
  font-weight: 500;
  font-size: 15px;
}
.parrafoUno {
  color: black;
  background-color: rgb(165, 169, 169);
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}
/*historia*/
.parrafohistoria {
  background-color: rgb(165, 169, 169);
  width: fit-content;
  color: black;
  text-align: left;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 14px;
  margin-bottom: 15px;
}
.resaltado1 {
  color: rgb(160, 20, 20);
  font-weight: 1000;
  font-size: 20px;
}
.centrarImg {
  display: flex;
  justify-content: center;
}
.laimagen1 {
  width: 300px;
  margin-bottom: 20px;
}
.botonColor {
  background-color: rgb(194, 10, 10);
  width: fit-content; /* vw vista del usuario */
  /* height: 20px;        /* vh alto de la pantalla*/
  border: solid 4px chocolate;
  padding: 10px;
}
/* ............................................... */
.grids__item {
  position: relative;
  background: rgb(8, 8, 8);
  background: linear-gradient(
    287deg,
    rgba(8, 8, 8, 1) 41%,
    rgba(131, 0, 0, 1) 69%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.bajoNombre {
  position: absolute;
  bottom: 0;
  color: antiquewhite;
  background: linear-gradient(rgb(115, 40, 40), black);
  width: 100%;
  margin: 0;
  padding: 10px;
}
.grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.grids__Item3 {
  display: flex;
  justify-content: left;
  align-items: center;
}
.video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
iframe {
  width: 500px;
  height: 315px;
}
/*media queriees*/

/* tablets */
@media only screen and (max-width: 768px) {
  /*estilos generales*/ /* nav */
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li a{
    font-size: 1rem;
  }
  h1{
    font-size: 1.8rem;
  }
  .segundoTitulo {
    font-size: 1rem;
  }
  .parrafoUno{
    font-size: 1rem;
  }
  .resaltado1{
    font-size: 1rem;
  }
  /*recitales*/
  .video_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .bajoNombre{
    font-size: 1rem;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  /*index*/
  .img-index {
    width: 100%;
  }
  .img-banner{
    width: 100%;
  }
  .banner__container {
    flex-direction: column;
  }
  /* todas las img */
  .laimagen1{
    width: 100%;
  }
  /*discografia*/
  .grids {
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
  }
  /*recitales*/
  .bajoNombre{
    font-size: 1rem;
  }
  .video_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  /* footer */
  footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  ul{
    flex-direction: column;
    align-items: center;
  } 
}
/*mobile*/
@media only screen and (max-width: 320px) {
  /*estilos generales*/
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: 1.3rem;
  }
  .segundoTitulo {
    font-size: 0.8rem;
  }
  .parrafoUno{
    font-size: 0.8rem;
  }
  .resaltado1{
    font-size: 0.8rem;
  }
  /*index*/
  .img-index {
    width: 100%;
  }
  .img-banner{
    width: 100%;
  }
  .banner__container {
    flex-direction: column;
  }
  /* todas las img */
  .laimagen1{
    width: 100%;
  }
  /*discografia*/
  .grids {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }

  /*recitales*/
  .bajoNombre{
    font-size: 0.8rem;
  }
  .video_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  iframe {
    width: 200px;
    height: 150px;
  }
  /* footer */
  footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  ul{
    flex-direction: column;
    align-items: center;
  } 
}
